@model IT_Web.Areas.IT.VIewModels.RepositoryCreateVm
@{
    ViewBag.Title = "New Repository";
    Layout = "_Layout";
}

<form action="" method="post">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create New Repository</h3>
        </div>

        <div class="card-body">
            <p class="card-subtitle">
                A repository contains all project files, including the revision history. Already have a project repository elsewhere?
            </p>

            <div class="col-6">
                <label class="form-label required" for="">Name</label>
                <input class="form-control" type="text" asp-for="Name">
            </div>

            <div class="col-6">
                <label class="form-label" for="">Description</label>
                <textarea class="form-control" type="text" asp-for="Description"></textarea>
            </div>
            <div class="col">
                <div class="mb-3">
                    <div class="form-label">Visibility</div>
                </div>
                <div>
                    <label class="form-check">
                        <input class="form-check-input" type="radio" name="radios" checked>

                        <span class="form-check-label">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-eye-check">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032"/><path d="M15 19l2 2l4 -4"/>
                                </svg>
                            </i>
                            Public
                        </span>
                        <span class="form-check-description">
                            Anyone on the internet can see this repository. You choose who can commit.
                        </span>
                    </label>
                    <label class="form-check">
                        <input class="form-check-input" type="radio"
                               name="radios">
                        <span class="form-check-label">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-lock">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"/><path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"/><path d="M8 11v-4a4 4 0 1 1 8 0v4"/>
                                </svg>
                            </i>
                            Private
                        </span>
                        <span class="form-check-description">
                            You choose who can see and commit to this repository.
                        </span>
                    </label>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary"> Create repository</button>
            </div>
        </div>
    </div>
</form>