@model IT_Web.Areas.IT.VIewModels.Issue.IssueListVm

@{
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">@Model.Repository</h1>
    </div>
    <div class="card-body">
        <div class="container-xl">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th>Issue</th>
                        <th>Issue Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.IssueList)
                    {
                        <tr>
                            <td>
                                <i class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-circle-dot">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
                                    </svg>
                                </i>
                                <a href="#" class="text-black"> @item.title </a>
                            </td>
                            @if (item.issue_status == 1)
                            {
                                <td> Open </td>
                            }
                            else
                            {
                                <td> Close </td>
                            }
                            <td>
                                <div class="btn-list flex gap-3">
                                    <a asp-action="Edit" asp-route-id="@item.id">
                                        Edit
                                    </a>
                                    <a href="#">
                                        Close Issue
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>