@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IT_Web.Areas.Admin.Requests.UserAddRequest;
<div class="container-xl" style="margin-top: 1.5%;">
<div class="card col-12">
    <h5 class="card-header">User Registration</h5>
    <form method="post" asp-area="Admin" asp-controller="User" asp-action="Create">
        <div class="card-body">
            <div class="d-flex flex-wrap gap-3">
                <div class="col col-mx-w-20">
                    <label class="required" for="Name">Name</label>
                    <input class="form-control" asp-for="Name" type="text" required/>
                </div>
             
                <div class="col col-mx-w-20">
                    <label class="required" for="Address">Address</label>
                    <input class="form-control" asp-for="Address" type="text" required/>

                </div>
            
                <div class="col col-mx-w-20">
                    <label class="required" for="ContactNo">Contact</label>
                    <input class="form-control" asp-for="ContactNo" type="number" required/>

                </div>
                <div class="col col-mx-w-20">
                    <label for="Email" class="required">Email</label>
                    <input class="form-control" asp-for="Email" type="email"/>
                </div>
                <div class="col col-mx-w-20">
                    <label for="UserName" class="required">Username</label>
                    <input class="form-control" asp-for="UserName" type="text"/>
                </div>
                <div class="col col-mx-w-20">
                    <label for="Password" class="required">Password</label>
                    <input class="form-control" asp-for="Password" type="password"/>
                </div>
                <div class="col col-mx-w-20">
                    <label for="ConfirmPass" class="required">Confirm Password</label>
                    <input class="form-control" asp-for="ConfirmPassword" type="password"/>
                </div>
            
            </div>
       
            <div>
                <button style="margin-top: 2%" type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>
</div>