@model IT_Web.Areas.Admin.Requests.PasswordUpdateReq;
<div class="card col-12">
    <h5 class="card-header">Reset Password</h5>
    <form method="post" asp-area="Admin" asp-controller="User" asp-action="UpdatePassword">
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
        <div class="card-body">
        <div class="d-flex flex-wrap gap-3">
            <div class="col col-mx-w-20">
                <label class="required" for="OldPassword">Old Password</label>
                <input class="form-control"  asp-for="OldPassword" type="password" required/>
            </div>

            <div class="col col-mx-w-20">
                <label class="required" for="NewPassword">New Password</label>
                <input class="form-control"  asp-for="NewPassword" type="password" required/>

            </div>

            <div class="col col-mx-w-20">
                <label class="required" for="ConfirmPassword">Confirm Password</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" required/>
            </div>
            </div>

            <div>
                <button style="margin-top: 2%" type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div>
     
    </form>
</div>